.everything{
    border: 2px solid black;
    width:40%;
    padding: 50px;
}
.image>img{
  border-radius: 15%;
}
.button{
    background-color: green;
    border-radius: 10px;
    padding:1px 5px;
    width:100%;
    text-align: center;
}
.price>h1{
    color: green;
}




    



